/* **************************************** */
/* ***********Navigation************** */
/* **************************************** */

.section--1 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 4.8rem;
}

.header {
  font-size: 1.8rem;
  height: 8.8rem;
  background-color: var(--sec-color);
  display: flex;
  align-items: center;
  margin-bottom: 12.8rem;
}

.sticky-nav {
  position: fixed;
  width: 100%;
  right: 0;
  background-color: var(--sticky-nav-background-color);
  z-index: 999;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}
.nav-items {
  display: flex;
  align-items: center;
  gap: 4rem;
  list-style: none;
}

.nav-link:link,
.nav-link:visited {
  display: inline-block;
  color: var(--pri-color);
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
  padding: 0.3rem 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.nav-icon {
  display: none;
}

.nav-link:hover,
.nav-link:active {
  box-shadow: 0 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.nav-btn:link,
.nav-btn:visited {
  color: var(--sec-color);
  margin-right: auto;
  transition: all 0.3s;
}

.nav-btn:hover,
.nav-btn:active {
  background-color: var(--pri-dark-color);
}

.btn-mobile {
  /* position: absolute; */
  top: 2.5rem;
  right: 1.6rem;
  display: none;
  background: none;
  border: none;
}

/* **************************************** */
/* ***********Hero************** */
/* **************************************** */

.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text-box {
  text-align: center;
}

.hero-description-text {
  margin-bottom: 2.4rem;
  font-size: 1.4rem;
  padding: 0 28.4rem;
}

.hero-btns {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  margin-bottom: 6.4rem;
}

.dev-img {
  color: black;
  height: 25rem;
}

/* **************************************** */
/* ***********About Me************** */
/* **************************************** */
.section-about {
  /* background-color: var(--pri-color); */
  /* background-color: rgba(0, 0, 0); */
  margin-top: 9.6rem;
  margin-bottom: 1px;
  color: var(--sec-color);
  padding: 6.4 6.4rem 0;
  font-size: 1.4rem;
  color: var(--text-color);
  color: var(--pri-color);
  border-top: 1px solid #eee;
}

.general-details,
.acadmic-details,
.non-acadmic-details {
  /* border: 1px solid black; */
  box-shadow: 0 0.6rem 1.6rem rgba(0, 0, 0, 0.2);
  margin-bottom: 2.4rem;
  max-width: 35rem;
  width: 100%;
  padding: 3.2rem 2.4rem;
  border-radius: 1.2rem;
  /* border: 0.1px solid var(--pri-color); */
  border-top: 8px solid var(--pri-color);
}
.education-container {
  display: flex;
  gap: 6.4rem;
  flex-direction: column;
  align-items: center;
}

.education-details {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4.8rem;
  margin-bottom: 9.6rem;
}

.education-container p {
  line-height: 1.8;
}

.acadmic-details {
  grid-column: 1 / 2;
}

.non-acadmic-details {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}
.profile-photo {
  height: 22rem;
  border-radius: 50%;
}

/* **************************************** */
/* ***********Skills************** */
/* **************************************** */

.section-skills {
  margin: 9.6 0rem;
  border-top: 1px solid #eee;
}

.skills {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.feature-box {
  display: flex;
  flex-direction: column;
  max-width: 30rem;
  box-shadow: 0 1.2rem 2.4rem var(--shadow-color);
  padding: 3.2rem 2.4rem;
  color: var(--pri-color);
  border-top: var(--pri-color) solid 8px;
  border-radius: 1.2rem;
  overflow: hidden;
  margin-bottom: 3.6rem;
}

.feature-icon {
  margin-bottom: 3.2rem;
}

/* **************************************** */
/* ***********Projects************** */
/* **************************************** */
.section-projects {
  margin: 9.4rem 0;
}
.project-card {
  box-shadow: 0 1.2rem 1.2rem var(--shadow-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* width: 30rem; */
  padding: 2.4rem 0 0;
  background-color: var(--sec-color);
  border-radius: 1.8rem;
}

.projects-container {
  display: flex;
  gap: 4.8rem;
  flex-wrap: wrap;
  justify-content: center;
}

.project-img {
  width: 29rem;
  transform: scale(0.9);
  transition: all 0.3s;
}

.project-img:hover {
  transform: scale(1);
}

.tags {
  margin-bottom: 2.4rem;
  display: flex;
  gap: 0.8rem;
  align-self: flex-start;
  padding: 0 2rem;
}

.projects-container .btn {
  align-self: stretch;
  justify-self: center;
  background-color: var(--sec-color);
  color: var(--text-color);
  justify-self: flex-end;
  width: 33rem;
  text-align: center;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  border-radius: 0;
}

.arrow-container {
  height: 1.2rem;
  width: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.arrow-container .icon {
  height: 4.8rem;
  width: 4.8rem;
}

.btn:hover {
  background-color: var(--text-color);
  color: var(--sec-color);
}

.btn:hover .arrow-container {
  display: flex;
}

.tag {
  padding: 0 0.5rem;
  border-radius: 1.2rem;
}

.tag-html {
  background-color: var(--html-tag-color);
}

.tag-css {
  background-color: var(--css-tag-color);
}

.tag-js {
  background-color: var(--js-tag-color);
}

/* **************************************** */
/* ***********Footer************** */
/* **************************************** */

.section-footer {
  background-color: var(--pri-color);
  color: var(--sec-color);
  padding-bottom: 6.4rem;
}

.contact-container {
  padding: 3.2rem 4.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone-links {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  font-size: 1.6rem;
}

.media-links {
  display: flex;
  gap: 1.6rem;
}

.media-links a {
  color: var(--sec-color);
}

.personal-contacts a:link,
.personal-contacts a:visited {
  color: var(--sec-color);
}

.personal-contacts a:hover,
.personal-contacts a:active {
  color: #adb5bd;
}

.logo {
  width: 2.4rem;
  height: 2.4rem;
}

.logo:hover,
.logo:active {
  color: #adb5bd;
}

.copyright {
  background-color: var(--sec-color);
  color: var(--pri-color);
  text-align: center;
  padding: 1.6rem 0;
}
